/* 织梦58（dede58.com）做最好的织梦整站模板下载网站 */
body, h1, h2, h3, h4, h5, h6, hr, hr_big, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea {
	margin:0;
	padding:0;
	word-wrap:break-word
}
body {
	font:12px/1.5 微软雅黑, tahoma, arial, \5b8b\4f53, sans-serif;
	color:#1c1c1c;
}
img {
	border:none;
	vertical-align: bottom;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
h1 {
	font-size:100%;
	font-weight:100;
}
input.dialog {
	height:0;
	height:0;
	font-size:0;
	line-height:0;
	border:none
}
h1 {
	font-size:34px;
}
h2 {
	font-size:30px;
	font-weight: 100;
	float: left;
	line-height: 34px;
	display:block;
	min-width:125px;
}
h3 {
	font-size:16px;
	font-weight:700;
	color:#3d3d3b;
	display: block;
}
h4 {
	font-size:24px;
	color: #009973;
}
h5 {
	font-size:14px;
	color:#aaa;
	font-weight:100;
}
h6 {
	font-size:12px;
}
.font-fixh {
	font-family: Georgia, Arial;
	color: #f00;
	font-size: 16px;
	font-weight: 700;
}
address, cite, dfn, em, var {
	font-style:normal;
}
code, kbd, pre, samp {
	font-family:courier new, courier, monospace;
}
ul, ol, li {
	list-style:none;
}
a {
	text-decoration: none;
	color:#1c1c1c;
	width: 100%;
	height: 100%;
}
.head_wrap {
	min-width:1180px;
	width:100%;
	height:116px;
	margin:0px auto;
	border-bottom: 4px solid #019973;
}
.head {
	width:1180px;
	height:116px;
	margin:0px auto;
}
.logo {
	margin:18px auto auto auto;
	width:400px;
	float: left;
}
.present_position {
	width:70px;
	height: 22px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	font-size:14px;
	color:#1c1c1c;
	text-align: center;
	float: left;
	margin-top:50px;
}
.current a {
	color:#009973;
}
.menu {
	width:auto;
	float:right;
	margin-top:46px;
	font-size:16px;
	position:relative;
}
.menu ul {
	clear: both;
}
.menu ul li {
	float: left;
	width:auto;
	padding-right: 25px;
	padding-left: 25px;
	height: 32px;
	text-align: center;
	line-height:32px;
	color:#1b1b1b;
	font-size:16px;
}
.menu ul li span {
	font-size:12px;
	color:#777;
}
.menu ul li.back, .menu ul li.border_none {
	border-right: 0px;
}
.lavaLampNoImage .back {
	display:block;
	background-color:#009973;
	height:2px;
	font-size:15px;
	z-index: 1;
	position: absolute;
	top:34px;
}
/*底部*/
.footer {
	width:100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	border-top: 4px solid #009973;
	min-width:1180px;
	margin: 60px auto 70px auto;
}
.index_footer {
	width:100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	border-top: 4px solid #009973;
	min-width:1180px;
}
.footer_four_advantage {
	width:1180px;
	height: 108px;
	margin:0px auto;
	border-bottom: 1px solid #d2d2d2;
}
.footer_four_advantage li {
	width:295px;
	float: left;
	height: 108px;
	position: relative;
}
.footer_four_advantage i {
	width:50px;
	height: 50px;
	display: block;
	position: absolute;
	background: url(img/togo_png.png) no-repeat;
	top:31px;
	left:50px;
}
.footer_four_advantage div {
	height: auto;
	width:auto;
	margin: 25px auto auto 120px;
	color: #b5b5b5;
	font-size: 16px;
}
.footer_four_advantage div>span {
	font-size:26px;
	display: block;
	margin-bottom: -2px;
}
.footer_four_advantage i.fo_design {
	background-position:-200px -280px;
}
.footer_four_advantage i.fo_material {
	background-position:-250px -280px;
}
.footer_four_advantage i.fo_construction {
	background-position:-300px -280px;
}
.footer_four_advantage i.fo_service {
	background-position:-350px -280px;
}
.footer_content {
	width:1180px;
	margin:50px auto 30px auto;
	height: 160px;
}
.footer_content ul li {
	float: left;
}
.togo_copyright {
	color:#959595;
	font-size: 14px;
	width:285px;
	text-align: center;
	padding-top:20px;
}
.togo_ewm img {
	border:1px solid #959595;
}
.togo_ewm {
	margin:auto 80px;
	width: 155px;
	font-size: 14px;
	text-align: center;
}
.togo_branding {
	font-size: 14px;
	color:#1c1c1c;
	line-height: 23px;
	letter-spacing: 1px;
	padding-top: 15px;
}
.togo_branding dl {
	margin-top: 10px;
	height:auto;
	overflow:hidden;
}
.togo_branding dl dd {
	float: left;
	margin-right:12px;
	background: url(img/togo_png.png) no-repeat;
	width: 98px;
	height: 35px;
}
.togo_branding dl dd.togo_brand1 {
	background-position:-1px -214px;
}
.togo_branding dl dd.togo_brand2 {
	background-position:-112px -214px;
}
.togo_branding dl dd.togo_brand3 {
	background-position:-223px -214px;
}
.togo_branding dl dd.togo_brand4 {
	background-position:-335px -214px;
}
.togo_branding dl dd.togo_brand5 {
	background-position:-446px -214px;
}
.togo_askFree {
	width:100%;
	height:70px;
	background-color: #009973;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index: 98;
}
.askFree_describe {
	font-size: 20px;
	position: absolute;
	top:50%;
	left:20px;
	margin-top: -20px;
}
.askFree_describe sup {
	font-size: 14px;
}
.togo_askFree_1000 {
	width:1000px;
	height:70px;
	margin:0px auto;
	position: relative;
	color:#fff;
}
.askFree_describe span {
	color:#f6e801;
	font-size: 24px;
}
.askFree_button {
	width:190px;
	height: 42px;
	background-color: #f6e801;
	color:#009973;
	text-align: center;
	cursor: pointer;
	font-size: 24px;
	position: absolute;
	top:11px;
	right:-40px;
	padding-bottom: 4px;
	line-height: 1.6;
}
.togo_askFree_close {
	width:18px;
	height: 18px;
	background: url(img/togo_png.png) -81px -121px;
	display: block;
	position: absolute;
	top:10px;
	right:6px;
	cursor: pointer;
}
/*右侧浮动*/
.togo_float_right {
	position:fixed;
	height: auto;
	top:50%;
	z-index: 100;
}
.togo_float_right li {
	width:40px;
	height: 40px;
	margin-bottom: 4px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-o-border-radius: 3px;
	-webkit-border-radius:3px;
	background-color: #b5b5b5;
	position: relative;
	cursor: pointer;
	z-index: 11;
}
.togo_float_right li.float_right_bm {
	height: 100px;
	background-color: #009973;
	font-size: 16px;
	text-align: center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-top:13px;
}
.togo_float_right li i {
	width:31px;
	height:29px;
	display: block;
	background: url(img/togo_png.png) no-repeat;
	margin-left:-15px;
	left: 50%;
	top:6px;
	position: absolute;
}
.return_top {
	display: none;
}
.togo_float_right li i.float_right_top {
	background-position: 0px -172px;
}
.togo_float_right li i.float_right_ewm {
	background-position: -31px -172px;
}
.float_right_ewm_div {
	position: absolute;
	left:-135px;
	top:-1px;
	border: 1px solid #ddd;
	z-index: 9999;
	display: none;
}
.togo_float_right li i.cs_img {
	background-position: -62px -172px;
}
li.float_right_bm span {
	display: block;
	width: 30px;
	height: 80px;
	margin: 0px auto;
	line-height: 18px;
	color:#f6e801;
}
/*遮罩层*/
.mask {
	display:none;
	position: fixed;
	z-index: 99;
	top: 0px;
	left: 0px;
	background-color: rgb(0, 0, 0);
	opacity: 0.4;
	background-position: initial initial;
	background-repeat: initial initial;
	width:100%;
	height:100%;
}
/*报名框*/
.togo_bm_success {
	height:365px;
	width:515px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	background-color:#fff;
	z-index: 999;
	margin-top:-100px;
	display:none;
}
.togo_bm_content {
	width:80%;
	height:auto;
	margin:auto auto 35px auto;
	padding-top:50px;
	text-align:center;
	display:none;
}
.close {
	background:url(img/togo_png.png) 0px -121px;
	width:35px;
	height:35px;
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.togo_bm_detail {
	height: auto;
	margin-top:40px;
}
.togo_bm_detail input {
	width:278px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #cacdb8;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 微软雅黑;
	text-indent: 6px;
	outline:none;
}
.togo_bm_detail select {
	width:278px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #cacdb8;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 微软雅黑;
	text-indent: 4px;
	outline:none;
}
.sub_button {
	width:280px;
	height: 40px;
	background-color: #009973;
	color:#fff;
	text-align: center;
	line-height: 40px;
	margin:0px auto;
	font-size: 20px;
	cursor: pointer;
}
.empty_name, .empty_phone {
	color:#e7691e;
	position:absolute;
	font-size:12px;
}
.empty_name {
	top:140px;
	right:60px;
	display: none;
}
.empty_phone {
	top:184px;
	right:50px;
	display: none;
}
.togo_bm_detail_content .empty_name {
	top:16px;
	right:-70px;
	display: none;
	font-size: 16px;
}
.togo_bm_detail_content .empty_phone {
	top:80px;
	right:-90px;
	display: none;
	font-size: 16px;
}
/*填写详细信息成功后*/
.info_success {
	width:80%;
	height:auto;
	margin:50px auto 35px auto;
	text-align:center;
	display:none;
}
.info_content {
	min-height:60px;
	height:auto;
	width:410px;
	margin:80px auto auto auto;
	position:relative;
}
.info_hook {
	width:46px;
	height:46px;
	display:inline-block;
	position:absolute;
	background:url(img/togo_png.png) -35px -121px;
	top:-34px;
	left: 47px;
}
.info_state {
	position:absolute;
	top:-40px;
	left:70px;
	text-align: center;
	font-size: 35px;
	color: #009973;
	text-indent: 1em;
	display: inline-block;
}
.info_text {
	position: absolute;
	top:195px;
	left:0px;
	width:100%;
	text-align: center;
	font-size: 19px;
	color: #009973;
	text-indent: 1em;
	font-weight: bold;
}
.info_warn {
	position:absolute;
	top:233px;
	left:0px;
	width:100%;
	text-align: center;
	font-size: 14px;
	color: #707070;
	text-indent: 1em;
}
/*城市切换css 16:59 2015-04-27*/
.cityChange_abso_detial {
	position: absolute;
	top: 84px;
	left: 0px;
	width: 380px;
	height: auto;
	border: 1px solid #f86b13;
	display: none;
	background-color: #fff;
	z-index: 101;
	font:12px/1.5 微软雅黑, tahoma, arial, 宋体, sans-serif;
}
.city_goto {
	margin-top: 14px;
	height: auto;
	overflow: hidden;
}
.city_guess {
	float: left;
	margin-left:10px;
}
.city_contury {
	float: right;
	margin-right:20px;
}
.city_allCities {
	clear: both;
	margin-top: 6px;
	padding-left: 6px;
}
.city_allCities>span {
	float:left;
	display:block;
}
.city_allCities dl {
	margin-bottom: 4px;
	height: auto;
	overflow: hidden;
	float:left;
	width:310px;
}
.city_allCities dl dd {
	float: left;
	width: auto;
	padding-left:6px;
	padding-right:6px;
*padding-left:3px;
*padding-right:3px;
	min-width:20px;
	color: #9e9e9e;
}
.city_allCities dl dd a:hover {
	color:#019973;
}
.city-change {
	position: relative;
	float: left;
	width: 124px;
	margin-left: 25px;
}
.city-choose {
	position: absolute;
	left: 0;
	width: 124px;
	height: 25px;
	float: left;
}
.city-choose p {
	float: left;
	text-align: center;
	width: 55px;
	margin-top: 3px;
}
.city-choose span {
	float: left;
	color: #9e9e9e;
	margin-right: 10px;
}
.city-choose img {
	width: 25px;
	height: 25px;
	margin-top: -46px;
	margin-bottom: 13px;
	margin-left: 55px;
	border: 1px solid #dcdcdc;
	border-left: none;
}
.city-box {
	float: left;
	border: 1px solid #dcdcdc;
	width: 54px;
	height: 25px;
	margin-top: 58px;
	font:12px/1.5 微软雅黑, tahoma, arial, 宋体, sans-serif;
}
.aq img {
	width: 100%;
	height: 100%;
	background: 100px 100px;
}
